@font-face {
    font-family:adelia ;
    src: url(adelia.otf);
}
@font-face {
    font-family:gilroy ;
    src: url(../Gilroy-Medium.ttf);
}
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height:100%;
    width:100%;
}
#main
{
    height:100%;
    width:100%;
    background:url(./redShirt.png);
    background-size: cover;
    

}
#nav
{
    padding:20px;
    color:white;
    display:flex;
    justify-content: space-between;
}
#nav h1{
    font-family: adelia;
    padding:0 50px;
    font-size:50px;
}
#nav1
{
    position: absolute;
    left:35%;
    color: white;
    text-decoration: none;
    padding:20px 0px;
    display: flex;
    font-size: 40px;
    gap:60px;
}
#nav1 a{
    font-family: gilroy;
    color:white;
    text-decoration: none;
}
#nav2
{
    padding:20px 30px;
}
#nav2 button{
    font-size: 30px;
    height:70px;
    width:350px;
    border-radius:10px;
}
#para1
{
    position:absolute;
    top:30%;
    left:20%;
    text-align: center;
    font-family: gilroy;
    color:white;
    font-size: 30px;
}
#para2
{
    position:absolute;
    top:40%;
    left:60%;
    text-align: center;
    font-family: gilroy;
    color:white;
    font-size: 30px;
}
#bodyleft
{
    position: absolute;
    top:40%;
    left:3%;
}
#star{
        font-size: 60px;
}
#bodyleft-main{
    padding:20px 0px;
    font-size: 110px;
    font-weight: 400;
    color:white;
    text-transform: capitalize;
    line-height: 100px;
}
#bodyright
{
    width:500px;
    height:600px;
    background-color: rgb(28, 26, 26);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-align: center;
    gap:20px;
    padding:20px 0px;
    position: absolute;
    right:5%;
    top:40%;
    border-radius: 20px;
    
}
#bodyright img{
    height:250px;
}
#bodyright h1{
    color:white;
    font-size: 100px;
    font-weight: 400;
}
#bodyright p{
    color:white;
    font-size: 30px;
    font-weight: 600;
}
#footer
{
    position: absolute;
    background-color: rgb(0, 0, 0);
    bottom:0;
    width:100%;
    height: 150px;
    display: flex;
}
#images
{
    color: white;
    display: flex;
    opacity: 1;
    gap:1px;
    align-items: center;
    margin-left: 30px;
}
#logo
{
    color:white;
    font-size: 70px;
    font-family: adelia;
    position: absolute;
    top:50%;
    left:40%;
}
#images h1{
    margin-left: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-left: 30px;
}
#images img
{
    height:50px;
    border-radius: 10px;
}
#footer button
{
    position: absolute;
    right:3%;
    top:20%;
    height:90px;
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
#footer h2{
    font-size: 40px;
}