*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#main
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
#counter
{
    height: 300px;
    width: 600px;
    background-color: rgb(54, 34, 50);
    border-radius: 20px;
    border: 2px solid rgb(167, 95, 95);
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 30px;
}
#counter h1{
    font-size: 150px;
}
button:hover{
    cursor: pointer;
    scale : 1.1;
}