*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box
{
    height: 22rem;
    width:100%;
    background-color: antiquewhite;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
button{
    height: 100%;
    width: 2rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #ffff;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.8rem;
    box-shadow: #333;
}
button:nth-child(2n)
{
    background-color: #484848;
    color: white
}
button:active{
    scale: 0.95;
}