*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
#main
{
    padding:20px;
    width:100%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 300px 200px 100px 150px;
    grid-template-areas:
    "div1 div1 div2"
    "div3 div4 div5"
    "div3 div7 div5"
    "div6 div7 div5" ;
    gap:10px;
    background-color: black;
}
#div1
{
    grid-area: div1;
}
 img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 30px;
}
#div2
{
    grid-area: div2;
}
#div3
{
    grid-area: div3;

}
#div4
{
    grid-area: div4;
}
#div5
{
    grid-area: div5;

}
#div6
{
    grid-area: div6;

}
#div7
{
    grid-area: div7;

}