@font-face {
    font-family: gilroy;
    src: url(../Nov17/project1/Gilroy-Medium.ttf);
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body
{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(224, 166, 224),rgb(243, 170, 182));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
button{
    padding: 20px 30px;
    background-color: #F64A8B;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
button:active{
    scale: 0.9;
}
.box
{
    height: 350px;
    width: 700px;
    padding: 40px 20px;
    background-color: rgb(255, 251, 251);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.innerbox{
    height: 50px;
    width:100%;
    background-color:#FDCEF5;
    border-radius: 25px;
    overflow: hidden;
}
.i2box
{
    height:100%;
    width: 0%;
    background-color: #CE0068;
    border-radius: 25px;
}
.bottom
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
h1{
    font-size: 40px;
    color: rgb(53, 53, 53);
}
span{
    color:rgb(233, 101, 233);
}
