@font-face {
    font-family:"gilroy";
    src: url(../Assignments/Gilroy-Medium.ttf);
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    gap: 30px;
}
#box
{
    height: 300px;
    padding: 50px;
    background-color: rgb(63, 29, 36);
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family:"gilroy";
    gap: 20px;
}
img{
    height:200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}
#left
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button{
    padding: 15px 70px;
    border-radius: 10px;
    border: none;
    background-color: crimson;
}
button:active{
    scale: 0.9;
}
button:hover{
    cursor: pointer;
}