@font-face {
    font-family: gilroy;
    src: url(../project1/Gilroy-Medium.ttf);
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background : linear-gradient(rgb(8, 68, 109),rgb(16, 185, 190));
    display: flex;
    align-items: center;
    justify-content: center;
}
.box
{
    height: 250px;
    width: 500px;
    padding: 50px;
    background: linear-gradient(white,#D9B18D);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

}
.text
{
    width: 100%;
    height: 50%;
    background: linear-gradient(#A57C55,#79533191);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
    color: black;
    font-size: 15px;
    font-weight: 100;
    padding: 20px;
    text-align: center;
    
}
button{
    padding: 10px 20px;
    background: linear-gradient(#FFF0F0,#D59A8C);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-family: gilroy;
    font-weight: 700;
}
button:active{
    scale: 0.9;
}