@font-face {
    font-family:font1;
    src: url(Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}
@font-face {
    font-family:heading;
    src: url(WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}
@font-face {
    font-family:dribble;
    src: url(../sweater/adelia.otf);
}
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
html,body{
    height:100%;
    width:100%;
}
#main
{
    height:100%;
    width:100%;
}
#nav
{
    height:13%;
    width:100%;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#nav a{
    text-decoration: none;
    color:black;
    font-size: 30px;
    font-weight: 500;
}
#nav1
{
    display: flex;
    padding-left: 30px;
    gap:40px;
    font-family: dribble;
    font-size: 50px;
}
#nav12
{
    display: flex;
    padding-left:40px;
    gap:40px;
    font-family: font1;
    align-items: center;
   
}
#nav12 a{
    font-size: 20px;
    font-weight: 600;
}
#nav2
{
    padding-right:60px;
}
#nav2 button
{
    font-size:19px;
    font-weight: 700;
    padding:18px 28px;
    font-family: font1;
    border-radius: 30px;
    border:none;
}
.nav2-button1
{
    background-color: white;
}
.nav2-button1:hover{
    color:rgb(126, 120, 120)
}

.nav2-button2
{
    background-color: black;
    color:white; 
}
.nav2-button2:hover{
    background-color: rgb(65, 63, 63);
    color: white;
}
#nav2 button:hover
{
    cursor: pointer;
   
}
#body
{
    height:70%;
    width:100%;
    /* background-color: brown; */
    display: flex;
    justify-content:space-between ;
    padding:50px 80px;
}
#body-left
{
    /* background-color: aqua; */
    height:100%;
    width:40%;
    line-height: 66px;
}
#body-left-up h1
{
     font-size: 60px;
     font-family:font1;
     font-weight: 600;
}
#body-left-up p
{
    padding-top:30px;
     font-size: 20px;
     line-height: 22px;
     font-family:font1;
     font-weight: 500;
}
#body-right
{
    height:100%;
    width:50%;
    border-radius:30px;
    border:1px solid grey;
    overflow: hidden;
}
#body-right video
{
    width:100%;
    height:100%;
    object-fit: cover;
}
#bld1
{
    display:flex;
    gap:70px;
    
}
#bld1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    text-decoration: none;
    font-size: 20px;
    font-family:font1;
    margin-top:32px;
    width:140px;
    height:55px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    
}
#body-left-down #a1
{
    background-color: #3A3546;
    color:white
}
#bld1 .a2
{
    color:black
}
#body-left-down a:hover{
    background-color: #bdbdbe25;
}
#search1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:25px 20px;
    height:70px;
    width:700px;
    background-color:#F5F3F0;
    margin-top:30px;
    border-radius: 40px;
    border: 4px solid #ffffff;
}
#search1 p{
    font-size: 18px;
    font-family:font1;
    font-weight: 400;
    color:#59585a
}
#search1 h1
{
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC5E95;
    color:white;
    font-weight: 500;
}
#search1:hover{
    background-color: white;
    border: 4px solid #FAEBF9;
}
#bld3
{
    display:flex;
    gap:12px;
    width:600px;

}
#bld3 a
{
    text-decoration: none;
    color:black;
    font-family: font1;
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
}
.a2{
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width:120px;
    border-radius: 24px;
    border:2px solid #787779
}
.a3
{
    display:flex;
    align-items:center;
    justify-content: center;
    width:90px;
    height:50px;
    font-weight: 500;
    border-radius:24px ;
    border:2px solid #787779
}
.a1{
    display:flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width:100px;
    font-size: 25px;
}
#hero-nav
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 100px;

}
#hero-nav2
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:30px
    
}
#hero-nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: font1;
    border:none;
}
#hero-nav1
{
    display: flex;
    align-items: center;
    justify-content: center;
    height:60px;
    width:130px;
    border: 2px solid #787779;
    border-radius: 10px;
}
#hero-nav3
{
 display: flex;
    align-items: center;
    justify-content: center;
    height:60px;
    width:130px;
    border: 2px solid #787779;
    border-radius: 10px;   
}
#hero-nav2 .a2:hover
{
    background-color: #F8F7F4;
}
#cards
{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    padding:30px;
    font-family: font1;
}
#card
{
    height:300px;
    width:400px;
    background-color: crimson;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   
}
#card img{
    height:100%;
    width:100%;
    object-fit: cover;
}
#bottom
{
    position: absolute;
    height:30%;
    width:100%;
    bottom:-30%;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all ease 0.3;
    background: linear-gradient(transparent,black);
}
#bottom h2{
  color: white;
  font-size: 24px;
  font-weight: 400;
}
#card:hover #bottom{
    bottom:0;
    
}
#bottom2
{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:15px;
}
#bottom2 h2
{
    display: flex;
    align-items:center;
    justify-content: center;
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: #F8F7F4;
    color:black
}
#sign
{
    height:100px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sign button{
    height:60px;
    width:270px;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    color:white;
    border-radius: 40px;
}
#sign button:hover{
    background-color: #565564;
}
#marquee
{
    height:40%;
    width:100%;
    display:flex;
    gap:30px;
    flex-wrap: nowrap;
    padding:30px;
}
#marquee img{
    height:100%;
    width:100%;
    border-radius: 20px;
}
#footer
{
    display: flex;
    align-items: center;
    padding:80px;
    justify-content: space-between;
}
#foot2 
{
    display:flex;
    
    gap:35px;
}
#foot1
{
    font-family:dribble;
    font-size: 25px;
    font-weight: 600;
}
#foot2 a{
    font-size: 20px;
    font-family:heading;
    font-weight: 600;
    text-decoration: none;
    color:black;
}
#foot3
{
    display:flex;
    font-size: 35px;
    gap:27px
}
