@font-face {
    font-family:gilroy ;
    src: url(../Gilroy-Medium.ttf);
}
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
html,body{
    height:100%;
    width:100%;
}
#main
{
    height:100%;
    width:100%;
    background-color: black;
}
#nav
{
    color:white;
    display:flex;
    justify-content: space-between;
    padding:10px 40px;
}
#nav1
{
    font-size: 50px;
}
#search 
{
    padding:10px;
    border: 2px solid white;
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#search h4{
    font-size: 30px;
    font-family: gilroy;
    color:rgb(179, 175, 175);
    font-weight: 100;
}
#nav2
{
    display:flex;
    gap:60px;
    margin-right: 30px;
}
#nav2 a
{
    
    font-size: 30px;
    color:white;
    text-decoration: none;
}