*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main
{
    height: 100%;
    width: 100%;
    background-color: rgb(79, 118, 119);
    display: flex;
    align-items: center;
    justify-content: center;

}
.card
{
    height: 500px;
    width: 290px;
    background-color: #fff;
    border: 2px solid #111;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.nav
{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    padding: 5px;
}
.story
{
    flex-shrink: 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 10px;
    border: 3px solid crimson;
    overflow: hidden;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav::-webkit-scrollbar{
    display: none;
}
.fullscreen
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    background-position: center;
    background-size: cover;
}
