*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.list img{
    width: 100%;
    margin-bottom: 1em;
    border-radius: 10px;
}
.list
{
    background-color: #dadada;
    columns: 300px;
    padding: 20px;
}