@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Medium.ttf);
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
button{
    padding: 20px 40px;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}
button:active{
    scale: 0.95;
}