@font-face {
    font-family:gilroy ;
    src: url(../Assignments/Gilroy-Medium.ttf);
}
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
body{
    background-color: black;
}
h1{
    color: white;
    font-size: 50px;
    font-family: gilroy;
    font-weight:900;
    font-style: italic;
}
#container
{
    height:300px;
    width:300px;
    background-color: rgb(223, 210, 235);
    padding:10px 40px;
    margin: 10px 50px;
}
#gradient
{
    height:300px;
    width:300px;
    margin:20px 50px;
    background: linear-gradient(to right bottom,red,blue);
}
#ajay
{
    height:100%;
    width:100%;
    background: url(https://images.unsplash.com/photo-1758746285882-f8ff1a727207?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNXx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}