*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
main
{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}
#box
{
    height: 400px;
    width: 400px;
    background-color: burlywood ;
    border-radius: 20px;
    border:1px solid white;
}
button{
    padding: 20px 80px;
    background-color: crimson;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}
button:active{
    scale: 0.9;
}
button:hover{
    cursor: pointer;
}