@font-face {
    font-family: gilroy;
    src: url(../../Nov17/project1/Gilroy-Medium.ttf);
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(136, 238, 241),rgb(185, 94, 109));
    display: flex;
    align-items: center;
    justify-content: center;
}
.card
{
    height: 400px;
    width: 300px;
    background: linear-gradient(rgb(186, 186, 240),rgb(146, 74, 97));
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}
#love{
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    background: url(https://imgs.search.brave.com/f8iLJa-ts7SBCgdoFXV5lP8HIgwhW1FqB5omERHJOQk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZS5zaHV0dGVyc3Rv/Y2suY29tL2ltYWdl/LXZlY3Rvci9pbnN0/YWdyYW0tbGlrZS1p/Y29uLWNvbG9yZnVs/LXNtb290aC0yNjBu/dy00NDIyMjM3MjIu/anBn);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: all ease 0.4s;
}