@font-face {
  font-family: instagram;
  src: url(./Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf);
}
@font-face {
  font-family: gilroy;
  src: url(../Nov17/project1/Gilroy-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #0c1014;
  display: grid;
  grid-template-columns: 15rem 40rem 25rem;
  overflow: auto;
}
.mid {
  font-family: gilroy;
}
.stories {
  padding: 1.3rem;
  display: flex;
  gap: 2rem;
  overflow: auto;
}
.stories::-webkit-scrollbar {
  display: none;
}
.stories p {
  color: white;
  font-size: 12px;
}
.storyWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.story {
  flex-shrink: 0;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  background: linear-gradient(to left bottom, #d300c5, #ffc700);
  overflow: hidden;
  padding: 0.2rem;
  cursor: pointer;
}
.story img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid black;
}
.overlay {
  position: absolute;
  inset: 0;
  margin-left: 15rem;
  margin-right: 30rem;
  z-index: 10;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.603);
}
.overlay img {

  position: absolute;
  top: 13%;
  left: 23%;
  height: 30rem;
  width: 21rem;
  border-radius: 10px;
  object-fit: cover;
  z-index: 10;
}
.outerDiv {
  width: 100%;
  height: 3px;
  border-radius: 15px;
}
.innerDiv {
  height: 100%;
  width: 0;
  transition: all ease 0.1s;
  background-color: white;
  border-radius: 15px;
}
.card
{
    margin: 0rem 2rem;
    /* background-color: #ffc700; */
    padding: 0.5rem;
}
.cardTop
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    margin-top: 1rem;
}
.cardTopImg
{
    height: 3rem ;
    width: 3rem;
    padding: 0.2rem;
    background: linear-gradient(to left bottom ,#d300c5 , #ffc700);
    border-radius: 50%;
}
.topLeft{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}
.userName{
    font-size: 0.8rem;
    font-weight: 600;
    color: #F5F5F5;
}
.time
{
    font-size: 0.9rem;
    font-weight: 400;
    color: #929293;
}
.topLeft img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}
.topRight
{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.topRight h5{
    color: #9DB6F7;
    font-size: 0.8rem;
    font-weight: 600;
}
.topRight i{
    color: #F5F5F5;
}
.cardMid
{
    padding-top: 1rem;
    width: 100%;
    /* background-color: #9DB6F7; */
}
.cardMid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.cardBottom
{
  padding: 0.5rem;
}
.cardBottomTop
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomLeft
{
  display: flex;
  gap: 1rem;
  color: #F5F5F5;
  padding: 0.3rem 0rem;
}
.bottomLeft i{
  font-size: 1.7rem;
  font-weight: 400;
  cursor: pointer;
}
.bottomRight{
  font-size: 1.7rem;
  font-weight: 400;
  color: #F5F5F5;
  cursor: pointer;
}
.likes
{
  margin-top: 0.2rem;
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 600;
}
.cardBottomBottom
{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #F5F5F5;
}
.cardBottomBottom .para
{
  color: grey;
  word-spacing: 0.13rem;
}
.left-sidebar
{
  color: white;
  border-right: 0.5px solid grey;
}
.left-sidebar{
  font-family: gilroy;
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  left: 0;
}
.sideBarTop{
  font-size: 2rem;
  font-family: instagram;
  font-weight: 100;
}
.sideBarMid{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 100;
  word-spacing: 0.7rem;
}
.sideBarBottom
{
  font-size: 1.2rem;
}
.left-sidebar i{
  font-size: 1.4rem;
}