@font-face {
    font-family:adelia ;
    src: url(adelia.otf);
}
@font-face {
    font-family:gilroy ;
    src: url(../Gilroy-Medium.ttf);
}
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body
{
    height:100%;
    width:100%;
}
#main
{
    height:100%;
    width:100%;
}
#nav
{
    display: flex;
    justify-content:space-between;
    padding:15px 60px;
    font-size:50px;
    font-weight: 600;
    
}
#nav a{
    color:black;
    text-decoration: none;
    margin-right:70px;

}
#main>h1{
    font-size: 500px;
    font-weight: 500;
    text-align: center;
}
#main h2{
    font-family: adelia;
}
#bottomleft
{
    width:600px;
    margin-left: 50px;
    padding: 8px;
}
#bottomleft h1{
    font-size:50px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 20px;
}
#bottomleft p{
    font-size:30px;
    font-weight: 500;
}
#footer
{
    display: flex;
    justify-content: space-between;
    padding:20px 60px;
}
#footer h1{
    font-size: 70px;
}
#footer a{
    font-size:50px;
    color: black;
}
#main img{
    position:absolute;
}
#first
{
    left:62%;
    top:35%;
    height:500px;
}
#second
{
    left:38%;
    top:50%;
    height:500px;
}
#third
{
    left:50%;
    top:40%;
    height:500px;   
}