@font-face {
    font-family:love ;
    src: url(./Valentine\ Cute.ttf);
}
@font-face {
    font-family:gilroy;
    src: url(./Gilroy-Medium.ttf);
}
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html{
    height:100%;
    width:100%;
}
#bg
{
    height:100%;
    width:100%;
    background:url(https://images.unsplash.com/photo-1677082342589-4619b499ae89?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top:60px;

}
h1{
    font-size: 40px;
    color: rgb(236, 189, 189);
    font-family: love;
}
button{
    font-size: 20px;
    font-family:gilroy;
    color:pink;
    font-weight: 900;
    padding:10px;
    border-radius: 15px;
    border:1px solid rgb(228, 184, 184);
    background: transparent;
}